.dadesUsuari{
    margin-left: 80%;
    border: 1px solid black;
    width: 325px;
    border-radius: 20px;
    padding: 0px 20px 20px 20px;
    
}

.dadesLlibres{
    
    width: 500px;
    margin-left: 25px;
    text-align: left;
}

.dadesLlibresdadesUsuari2 div{
    margin-bottom: 10px;
}